<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
	<style type="text/css">
		/* Prevent copy paste for all elements except text fields */
		*  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
		input, textarea  { -webkit-user-select:text; }
		body { background-color:white; color:black }
		.hidden {
			display: none;
		}
	</style>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="kendo/styles/kendo.common-bootstrap.min.css" rel="stylesheet"/>
    <link href="kendo/styles/kendo.bootstrap.min.css" rel="stylesheet"/>
    <link href="kendo/styles/kendo-bootstrap-models.css" rel="stylesheet"/>
    <link href="styles/main.css" rel="stylesheet" />

    <script src="cordova.js"></script>
    <script src="kendo/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="kendo/js/kendo.mobile.min.js"></script>
    <script src="library/everlive.all.min.js"></script>
    <script src="library/Kendo.data.localstoragedatasource.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="library/angular.js"></script>
    <script src="library/angular-animate.js"></script>
    <script src="library/angular-resource.js"></script>
    <script src="library/angular-route.js"></script>
    <script src="library/angular-kendo.js"></script>
    <script src="scripts/helpers.js"></script>
    
    <script src="scripts/app.js"></script>
    <script src="scripts/angularapp.js"></script>
    <script src="scripts/watcher.js"></script>
    
    <script src="scripts/appSettings.js"></script>
    <script src="scripts/userdata.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/login.js"></script>
    

</head>
<body ng-app="CarersApp">
    <!--Home View-->
    <div id="tabstrip-home"
        data-role="view"
        ng-controller="deviceListContoller"
        data-title="Home">
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
                <a data-align="right" ng-click="addDevice" data-role="nav-button">Add</a>
            </div>
        </header>
        <h3>Registered Devices</h3>
        <ul data-role="listview" data-style="inset">
            <li class="entry">
                <a>Device 1</a>
                
            </li>
            <li class="entry">
                <a>Device 2</a>
                
            </li>
        </ul>
      
    </div>

    <div ng-include="views/addDevice.html"></div>


    <!--Layout-->
    <div data-role="layout" data-id="tabstrip-layout">
        <!--Header-->
        <div data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span>
            </div>
        </div>

        <!--Footer-->
        <div data-role="footer">
            <div data-role="tabstrip">
                <a href="#/" data-icon="home">Home</a>
            </div>
        </div>
    </div>
</body>
</html>
