<div id="add-device"
    data-role="view"
    ng-controller="addDeviceController"
    data-title="Add Device">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-align="left" data-role="backbutton">Back</a>
        </div>
    </header>
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Device ID
                <input type="text" ng-model="deviceId"/>
            </label>
        </li>
        <li>
            <label>
                Name
                <input type="text" ng-model="name"/>
            </label>
        </li>
        <li>
            <a class="button" data-role="button">Add Device</a>
        </li>
    </ul>
</div>