/* IMAGES */
.welcome-image {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
    display: block;
    margin: 0px auto;
}
.logo-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 60px;
    display: block;
    margin: 0px auto;
}

/* LOGIN VIEW STYLES */
.login-button {
    margin: 0 auto;
    display: block;
    width: 80%;
}

/* LOCATION VIEW STYLES */
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-tools > div {
    position: relative;
    text-align: center;
    height: 100%;
}

.map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button.home {
    left: 0;
}
.map-tools .map-tools-button.search {
    right: 0;
}
.map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
.map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
.map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
.map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }

.map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 65%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}

/* WEATHER VIEW STYLES */
.w-icon {
    width: 32px;
    height: 32px;
    background-image: url(../styles/images/sprite-weather.png);
    background-repeat: no-repeat;
}
.w-icon.sunny { background-position: 0px 0px; }
.w-icon.cloudy { background-position: 0px -32px; }
.w-icon.partly-cloudy { background-position: 0px -64px; }
.w-icon.partly-sunny { background-position: 0px -96px; }
.w-icon.shower { background-position: 0px -128px; }
.w-icon.foggy { background-position: 0px -160px; }
.w-icon.storm { background-position: 0px -192px; }

.w-item-template:after {
    clear: both;
}
.w-item-template > .w-icon {
    float: left;
}
.w-item-template > .w-date {
    float: left;
    margin: 0.5em 0 0 1em;
}
.w-item-template > .w-temp {
    float: right;
    margin-top: 0.2em;
}
.w-item-template > .w-temp > span:last-of-type {
    opacity: 0.5;
}

.detailarrow {
    position: absolute;
    right: 8px;
}

.entry {
    position: relative;
}


/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .welcome-image {
        background-image: url(../styles/images/appbuilder2x.png);
        background-size: 100%;
    }
    .logo-image {
        background-image: url(../styles/images/logo2x.png);
        background-size: 100%;
    }
    .w-icon {
        background-image: url(../styles/images/sprite-weather2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home {
        background-image: url(../styles/images/location2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home:active {
        background-image: url(../styles/images/location_active2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search {
        background-image: url(../styles/images/search2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search:active {
        background-image: url(../styles/images/search_active2x.png);
        background-size: 100%;
    }
}
